* {
    box-sizing: border-box;
}

.block {
   border: black;
   border-style: solid;
   margin-bottom: 50px;
}

.container {
    margin-bottom: 50px;
}

.clearfix {
    clear: both;
}

.left-side {
  border-color: black;
  float: left;
  border-style: solid;
  height: 150px;
  margin: 30px 0 30px 30px;
}

.right-side {
  border-color: black;
  float: right;
  border-style: solid;
  height: 150px;
  margin: 30px 30px 30px 0;
}

.small-right-side {
    border-color: black;
    float: right;
    border-style: solid;
    height: 80px;
    margin: 60px 30px 30px 0;
}

.big-container {
    margin-left: auto;
    margin-right: auto;
}

.middle-big {
    border-color: black; 
    height: 400px;
    float: left;
    border-style: solid;
    margin: 70px 0 40px 350px;
}

.middle-small {
    width: 250px;
    border-color: black; 
    height: 180px;
    float: right;
    border-style: solid;
    margin: 70px 450px 15px 0;
}

.middle-small:last-child {
    margin-top: 0px;
}

.right-big {
    border-color: black; 
    height: 400px;
    float: left;
    border-style: solid;
    margin: 70px 0 50px 650px;
}

.right-small {
    width: 250px;
    border-color: black; 
    height: 180px;
    float: right;
    border-style: solid;
    margin: 70px 130px 15px 0;
}

.right-small:last-child {
    margin-top: 26px
}

